<h1>All Listings</h1>
<% @listings.each do |listing|%>
	<ul>
		<li><%= link_to listing.title,listing_path(listing) %> </li>
	</ul>
<% end %>

<p> <%= link_to "Send me back to the home page",root_path%> </p>
<p> <%= link_to "Create new listing",new_seller_path%> </p>

