<html>
   <head>
       <link rel="stylesheet" href="layout.css" ... />

   <body>
       <div class="wrapper">
           <p><center><h1><b>Welcome to Terra</b></h1></center>.</p>
            <p><center><h3><b><i>Platform that brings international sellers of undeveloped land, with buyers from all around the world.</i></b></h3></center>.</p>

           <%= image_tag('bg.jpg', class: "background_photo",size: "1500x400" ) %>


   </head>

           <center><b><p><h2>Looking to list your land for sale ?</h2></p></b></center>
<center><%= link_to "Create listing",  new_listing_path, class: "new_seller" %></center>

</section>

<center><h2>or</h2></center>

<section>

 <center><b><p><h2>Looking to purchase land?</h2></p></b></center>
 <center><%= link_to "View Listings", listings_path, class: "show_listings" %></center>

           <div class="push"></div>
       </div>
       <div class="footer">
           <p><center>&copy; Made with ♥ by Sylvia Dolmo, Bruna Netto, & Esther Mohadeb</center></p>
       </div>
   </body>
</html>
