<h1>Welcome to Terra</h1>

<section>

<p>Would you like to list your land for sale?</p>
<%= link_to "Create New Listing", new_listing_path, class: "new_listing" %>

</section>

<h3>OR</h3>

<section>

  <p>Would you like to view our listings?</p>
  <%= link_to "Listings", listings_path, class: "show_listings" %>

</section>
