<center><h1><b>Welcome to Terra</b></h1></center>

<section>

<center><h2><p>Looking to list your land for sale ?</p></h2></center>
<center><%= link_to "Create listing", new_seller_path, class: "new_seller" %></center>

</section>

<center><h2>or</h2></center>

<section>

  <center><h2><p>Looking to purchase land?</p></center></h2>
  <center><%= link_to "View Listings", listings_path, class: "show_listings" %></center>

<footer>








<center> <p>Made by:</p></center>
 
</footer>



			