<h1>Welcome to Terra</h1>

<section>

<p>Looking to sell?</p>
<%= link_to "Sell", new_seller_path, class: "new_seller" %>

</section>

<h3>OR</h3>

<section>

  <p>Looking to buy?</p>
  <%= link_to "View Listings", listings_path, class: "show_listings" %>

</section>
