<div class="wrapper">
  <h1>Welcome to Terra</h1>
  <h3>A platform that brings international sellers of undeveloped lands, with buyers from all around the world.</h3>

  <%= image_tag('bg.jpg', class: "background_photo",size: "1500x400" ) %>
  <h2>Looking to list your land for sale ?</h2>
  <%= link_to "Create listing",  new_listing_path, class: "new_seller" %>

  <section>
    <h2>or</h2>
  </section>

  <h2>Looking to purchase land?</h2>
  <%= link_to "View Listings", listings_path, class: "show_listings" %>

  <div class="push"></div>
</div>
