<html>
   <head>
       <link rel="stylesheet" href="layout.css" ... />
   
   <body>
       <div class="wrapper">
           <p><center><h1><b>Welcome to Terra</b></h1></center>.</p>
           <p><center><h3><b>Platform that brings international sellers of undeveloped land, with buyers from all around the world.</b></h3></center>.</p>
   </head>

           <center><b><p><h2>Looking to list your land for sale ?</h2></p></b></center>
<center><%= link_to "Create listing", new_seller_path, class: "new_seller" %></center>

</section>

<center><h2>or</h2></center>

<section>

 <center><b><p><h2>Looking to purchase land?</h2></p></b></center>
 <center><%= link_to "View Listings", listings_path, class: "show_listings" %></center>

           <div class="push"></div>
       </div>
       <div class="footer">
           <p><center>&copy; Made with :heart: by Sylvia Dolmo, Bruna Netto, & Esther Mo</center></p>
       </div>
   </body>
</html>
			